<div class="chart-container">
  <ngx-charts-pie-grid
    *ngIf="single | async as pieData"
    [view]="view"
    [scheme]="colorScheme"
    [results]="pieData"
  >
  </ngx-charts-pie-grid>
  <ngx-charts-bar-horizontal-normalized
    *ngIf="multi | async as barData"
    [view]="viewBar"
    [scheme]="colorSchemeBar"
    [results]="barData"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
  >
  </ngx-charts-bar-horizontal-normalized>
</div>
<div class="time-container">
  <ngx-charts-number-card
    *ngIf="singleTime | async as timeData"
    [view]="view"
    [scheme]="colorSchemeTime"
    [results]="timeData"
    [cardColor]="cardColor"
  >
  </ngx-charts-number-card>
</div>
