.todo-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 280px;
}
.todo-container-low {
  .todo-container();
}
.todo-container-medium {
  .todo-container();
}
.todo-container-high {
  .todo-container();
}
.todo-main {
  display: flex;
  gap: 15px;
}
