.todo-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 280px;
}
.todo-container-low {
  .todo-container();
}
.todo-container-medium {
  .todo-container();
}
.todo-container-high {
  .todo-container();
}
.todo-main {
  display: flex;
  gap: 5px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 20px;
}
::-webkit-scrollbar-thumb {
  background: rgb(139, 139, 139);
  border-radius: 10px;
}
:host {
  overflow-y: scroll;
  height: 50%;
}
