<div class="todo-main">
  <div>
    <div class="menu">
      <h4>Low</h4>
      <div ngbDropdown class="d-inline-block">
        <span id="dropdownBasic1" ngbDropdownToggle></span>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)="itemLow = filter(itemLow, 'date')">
            Date
          </button>
          <button ngbDropdownItem (click)="itemLow = filter(itemLow, 'todo')">
            Alphabetic
          </button>
          <button
            ngbDropdownItem
            (click)="itemLow = filter(itemLow, 'createdAt')"
          >
            Recent
          </button>
        </div>
      </div>
    </div>
    <div
      class="todo-container-low"
      droppable
      (onDrop)="onItemDrop($event, Priority.low)"
    >
      <app-todo
        *ngFor="let todo of itemLow"
        [todo]="todo"
        draggable
        [dragData]="todo"
        (Complete)="handleComplete(todo)"
        (Delete)="handleDelete(todo)"
        (Edit)="handleEdit(todo)"
        appTaskColor
        [priority]="todo.priority ? todo.priority : null"
      ></app-todo>
    </div>
  </div>
  <div>
    <div class="menu">
      <h4>Medium</h4>
      <div ngbDropdown class="d-inline-block">
        <span id="dropdownBasic1" ngbDropdownToggle></span>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button
            ngbDropdownItem
            (click)="itemMedium = filter(itemMedium, 'date')"
          >
            Date
          </button>
          <button
            ngbDropdownItem
            (click)="itemMedium = filter(itemMedium, 'todo')"
          >
            Alphabetic
          </button>
          <button
            ngbDropdownItem
            (click)="itemMedium = filter(itemMedium, 'createdAt')"
          >
            Recent
          </button>
        </div>
      </div>
    </div>
    <div
      class="todo-container-medium"
      droppable
      (onDrop)="onItemDrop($event, Priority.medium)"
    >
      <app-todo
        *ngFor="let todo of itemMedium"
        [todo]="todo"
        draggable
        [dragData]="todo"
        (Complete)="handleComplete(todo)"
        (Delete)="handleDelete(todo)"
        (Edit)="handleEdit(todo)"
        appTaskColor
        [priority]="todo.priority ? todo.priority : null"
      ></app-todo>
    </div>
  </div>
  <div>
    <div class="menu">
      <h4>High</h4>
      <div ngbDropdown class="d-inline-block">
        <span id="dropdownBasic1" ngbDropdownToggle></span>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)="itemHigh = filter(itemHigh, 'date')">
            Date
          </button>
          <button ngbDropdownItem (click)="itemHigh = filter(itemHigh, 'todo')">
            Alphabetic
          </button>
          <button
            ngbDropdownItem
            (click)="itemHigh = filter(itemHigh, 'createdAt')"
          >
            Recent
          </button>
        </div>
      </div>
    </div>
    <div
      class="todo-container-high"
      droppable
      (onDrop)="onItemDrop($event, Priority.high)"
    >
      <app-todo
        *ngFor="let todo of itemHigh"
        [todo]="todo"
        draggable
        [dragData]="todo"
        (Complete)="handleComplete(todo)"
        (Delete)="handleDelete(todo)"
        (Edit)="handleEdit(todo)"
        appTaskColor
        [priority]="todo.priority ? todo.priority : null"
      ></app-todo>
    </div>
  </div>
  <div>
    <div class="menu">
      <h4>Completed</h4>
      <div ngbDropdown class="d-inline-block">
        <span id="dropdownBasic1" ngbDropdownToggle></span>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button
            ngbDropdownItem
            (click)="completed = filter(completed, 'date')"
          >
            Date
          </button>
          <button
            ngbDropdownItem
            (click)="completed = filter(completed, 'todo')"
          >
            Alphabetic
          </button>
          <button
            ngbDropdownItem
            (click)="completed = filter(completed, 'createdAt')"
          >
            Recent
          </button>
        </div>
      </div>
    </div>
    <div class="todo-container-high">
      <app-todo
        *ngFor="let todo of completed"
        [todo]="todo"
        (Complete)="handleComplete(todo)"
        (Delete)="handleDelete(todo)"
        (Edit)="handleEdit(todo)"
      ></app-todo>
    </div>
  </div>
</div>
